body{
	background-image:url('../img/bg20.jpg');
	/*background-color: #000;*/
	/*color:#f1f1d1;*/
	/*color:#fff;*/
	/*color:#d4ff00;*/

	/*font-family: 'Tangerine', serif;*/
	font-family: 'Reem Kufi', sans-serif;
	/*font-family: 'Lobster', cursive;*/
}

p{
	font-size: 21px;
}

a{
	font-size: 21px;
	/*color: #fff;*/
}

#row2{
	margin-top: 50px;
}
#myimg{
	border-radius: 50%;
	max-height:180px;
}

#profile{
	/*border-top:2px #000 solid;*/
}